.container {
    background-image: url("/images/silver_swirl_nfl_logo.jpg");
    background-attachment: fixed;
}

.jumbotron {
    background-color: blue;
    
    text-align: center;
    margin-bottom: 0;
    font-family: 'Baloo Chettan', cursive;

}

h1 {
    color:rgb(255, 42, 42);
}

p {
    font-family: 'Baloo Chettan', cursive;

}

.lead {
    color: white;
    font-family: 'Baloo Chettan', cursive;
}

.athlete-button {
    background-color: black;
    color: whitesmoke;
    font-family: 'Baloo Chettan', cursive;
    
}

#search-create {
    margin-top: 50px;
    margin-left:400px;
}

